<!doctype html>
<html class="no-js">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<link rel="stylesheet" href="/css/style.css">

</head>
<body ng-app="main">
<div  class="container center_div"   ng-controller="main" >
<div class="row">

	  <h3>Trip Sorter</h3>
      <p>Select a departure city and arrival city to plan your journey</p>
      <p>Make use of quick filter.</p>
 
</div>

   <div class="row">
<form name="rootForm">
 <div class="form-group">
  <input  class="form-control" required type="text" ng-model="departure" name="departure" placeholder="departure"/>
    </div>
      <div class="form-group">
  <input class="form-control" required type="text" ng-model="arrival" name="arrival" placeholder="arrival"/>
    </div>
    <div class="form-group">
   <input  type="radio" ng-model="feature" value="cost" >
    cheapest
   <input   type="radio" ng-model="feature" required value="duration">
    Fastest
    </div>
  <input ng-disabled="rootForm.$invalid" class="btn btn-success" type = "button" ng-click="search()"  name="Search"  value="search"/>
  </form>
 </div>
 <div class="row">

 <div class=""   ng-repeat="item in records | orderBy : feature | limitTo:1">
	 <div class="col-md-12 result_row" class="row">
	<h4>{{ item.departure + ' to ' + item.arrival }}</h4>
	<div class="col-md-8">
	 <p>Transport: </p>
	
	 <p>Estimated Time:</p>

	 <p>Estimated Cost:</p>
	
	</div>

	<div class="col-md-4">
	
	<p>{{item.transport  }}</p>
	<p>{{ item.hour+"h " + item.minute + "m" }}</p>
	<p>{{ "$"+item.cost }}</p>
	
	

	</div>
	
 </div>
 </div>
</div>
</div>
</body>

</html>
<script>

var app = angular.module('main', []);

app.controller('main', function($scope, $http, $filter) {

  $scope.records=[];
    $scope.search=function()
    {
		  $http({
        method : "GET",
        url : "search"
    }).then(function mySucces(response) {
	
		$scope.items = $filter('filter')(response.data.deals, {arrival:$scope.arrival,departure:$scope.departure});
		
		angular.forEach( $scope.items, function(value, key) {
		var duration =	parseInt(value.duration.h) + 	parseFloat((value.duration.m)/60);
	
		var res={
		"cost":value.cost ,
		"transport":value.transport ,
		"duration":duration,
		"hour":value.duration.h,
		"minute":value.duration.m,
		"departure":value.departure ,
		"arrival":value.arrival 
		 
		}
		
		$scope.records.push(res);
	
});
    }, function myError(response) {
    
       
    });	
   
    }
    
});



</script>
