.center_div{
    margin: 0 auto;
        width: 34%;
	}
.sub_text {
    color: grey;
    margin-top: 0;
			}
.result_row {
    margin-top: 3px;
}
  
 
.result_row {
    background-color: #ededed;
    border: 1px solid #eeeeee;
}
p {
    color: grey;
}
